.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;

  &--submit {
    font-weight: 600;
    background: var(--primary);
    border: 1px solid var(--primary);
    border-top: 1px solid var(--primary-muted);

    &:hover {
      background: var(--primary-muted);
      border-color: var(--primary-muted);
    }
  }

  &--reset {
    color: var(--text-muted);
  }

  &:hover,
  &:focus-visible {
    background: var(--bg-light);
    border-color: var(--bg-light);
    box-shadow: 0 2px 4px var(--shadow);
  }
}

.dark {
  .btn {
    &--submit {
      color: var(--primary);
      background: linear-gradient(180deg, var(--bg) 50%, var(--bg-dark) 100%);
      border: 1px solid var(--bg);
      border-top: 1px solid var(--bg-light);

      /* box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.35),
      0 10px 24px rgba(0, 0, 0, 0.55);
 */
      &:hover,
      &:focus-visible {
        background: linear-gradient(
          180deg,
          var(--bg-light) 50%,
          var(--bg) 100%
        ) !important;
        box-shadow: 0 2px 4px var(--shadow);
      }
    }
  }
}
