.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: var(--bg-light);
    border-color: var(--bg-light);
    box-shadow: 0 2px 4px var(--shadow);
  }

  &--submit {
    font-weight: 600;
    background: linear-gradient(
      180deg,
      var(--primary-muted) 50%,
      var(--primary) 100%
    );
    border: 1px solid var(--primary-muted);
    border-top: 1px solid var(--primary-light);

    &:hover {
      background: linear-gradient(
        180deg,
        var(--primary-light) 50%,
        var(--primary-muted) 100%
      );
      border-color: var(--primary-muted);
    }
  }

  &--reset {
    color: var(--text-muted);
  }
}

.dark {
  .btn {
    background: linear-gradient(180deg, var(--bg) 50%, var(--bg-dark) 100%);
    border: 1px solid var(--bg);
    border-top: 1px solid var(--bg-light);

    &:hover,
    &:focus-visible {
      background: linear-gradient(180deg, var(--bg-light) 50%, var(--bg) 100%);
    }

    &--submit {
      color: var(--primary);
      &:hover,
      &:focus-visible {
        color: var(--primary);
      }
    }
  }
}
