.u-elevated {
  border: 1px solid var(--elevation-color);
  box-shadow: 0 2px var(--elevation-color);
  transition: 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    box-shadow: 0 4px var(--elevation-color);
  }
}
