@use './variables';

// components
@use '../components/header/header';

// pages
@use '../pages/home/home';

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text-muted);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}
