@use './variables';

// utilities
@use '../styles/utilities/surface';
@use '../styles/utilities/button';

// components
@use '../components/header/header';
@use '../components/rules/rulesAccordion';
@use '../components/search/searchInput';
@use '../components/result/resultBox';

// pages
@use '../pages/home/home';

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background: var(--bg-dark);
  margin: 0 0 4rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
}
