@use './variables';

// components
@use '../components/header/header';
@use '../components/rules/rulesAccordion';
@use '../components/search/searchInput';
@use '../components/result/resultBox';

// pages
@use '../pages/home/home';

// utilities
@use '../styles/utilities/surface';
@use '../styles/utilities/elevated';

body {
  font-family: monospace;
  background: var(--bg);
  color: var(--text-muted);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}
