/* LIGHT MODE (default) */
:root {
  --bg-dark: oklch(0.92 0 20);
  --bg: oklch(0.96 0 20);
  --bg-light: oklch(1 0 20);

  --text: oklch(0.15 0 20);
  --text-muted: oklch(0.6 0 20);

  --highlight: oklch(1 0 20);
  --shadow: oklch(0.84 0 20);
  --shadow-muted: oklch(0.88 0 20);

  --primary: oklch(0.93 0.12 100);
  --primary-muted: oklch(0.96 0.12 100);
  --primary-light: oklch(0.99 0.12 100);
  --secondary: oklch(0.7 0.12 205);

  --warning: oklch(0.5 0.2 30);
  --warning-muted: oklch(0.94 0.02 30);
  --warning-highlight: oklch(0.98 0.02 30);

  --logo-main: var(--primary);
  --logo-center: oklch(1 0 0);
  --logo-bottom: var(--highlight);
  --logo-stroke: var(--text);
}

.dark {
  --bg-dark: oklch(0.15 0 20);
  --bg: oklch(0.21 0 20);
  --bg-light: oklch(0.27 0 20);

  --text: oklch(0.96 0 20);
  --text-muted: oklch(0.76 0 20);

  --highlight: oklch(0.25 0 20);
  --shadow: var(--bg-dark);
  --shadow-muted: var(--bg-dark);

  --logo-main: var(--secondary);
  --logo-bottom: var(--text);
  --logo-stroke: var(--bg-light);
}
