/* LIGHT MODE (default) */
:root {
  --bg-dark: oklch(0.92 0.01 183);
  --bg: oklch(0.96 0.01 183);
  --bg-light: oklch(1 0.01 183);
  --text: oklch(0.15 0.02 183);
  --text-muted: oklch(0.4 0.02 183);
  --highlight: oklch(1 0.02 183);
  --border: oklch(0.6 0.02 183);
  --border-muted: oklch(0.7 0.02 183);
  --primary: oklch(0.4 0.1 183);
  --secondary: oklch(0.4 0.1 3);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

.dark {
  --bg-dark: oklch(0.1 0.01 183);
  --bg: oklch(0.15 0.01 183);
  --bg-light: oklch(0.2 0.01 183);
  --text: oklch(0.96 0.02 183);
  --text-muted: oklch(0.76 0.02 183);
  --highlight: oklch(0.5 0.02 183);
  --border: oklch(0.4 0.02 183);
  --border-muted: oklch(0.3 0.02 183);
  --primary: oklch(0.76 0.1 183);
  --secondary: oklch(0.76 0.1 3);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}
