@use '../../styles/variables.scss';

.main-nav {
  padding: 0.5rem 1rem;
  background-color: var(--bg);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--bg);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--text);
    text-decoration: none;
  }

  &__image {
    height: 2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  &__theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
  }
}
