.result-box {
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background: var(--bg-light);
    border-color: var(--bg-light);
  }

  &__text {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
  }

  &__placeholder {
    color: var(--text-muted);
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--border);
  }

  &__copy {
    all: unset;
    &-label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
