.result-box {
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background: var(--bg-light);
    border-color: var(--bg-light);
  }

  &__text {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
  }

  &__placeholder {
    color: var(--text-muted);
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text-muted);
  }

  &__copy {
    all: unset;
    cursor: pointer;
    &-label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

.result-box__content.is-error {
  color: var(--warning);
  background-color: var(--warning-muted);
  border: 1px solid var(--warning-muted);
  border-top: 1px solid var(--warning-highlight);
}

.result-box__content.is-error .result-box__title {
  color: #b71c1c;
}
