.result-box {
  position: relative;
  width: 100%;

  &__content {
    background: var(--bg-light);
    border-color: var(--bg-light);
  }

  &__text {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }

  &__placeholder {
    color: var(--text-muted);
  }

  &__copy {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;

    width: 4rem;
    height: 2rem;
    border-radius: 0.4rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  .is-active {
    //background: var(--bg-light);
  }
}
