.search-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__content {
    background: var(--bg-light);
    border: 1px solid var(--bg-light);
    resize: none;
    outline: none;

    &.is-submitted {
      background: var(--bg);
      border: 1px solid var(--bg);
      border-top: 1px solid var(--highlight);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
