.search-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__content {
    background: var(--bg-light);
    border-color: var(--bg-light);
    resize: none;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
