.rule {
  padding: 0rem 1rem;

  &__title {
    position: relative;
    display: inline-block;
    font-size: 1.067rem;
    margin: 0;
    padding: 0 3rem 0.3rem 1rem;
    border-bottom: 0.2rem solid var(--primary-dark);
  }

  p {
    margin-bottom: 0;
  }

  &__text {
    white-space: pre-line;

    code {
      font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
      font-size: 0.9rem;
      padding: 0.15rem 0.3rem;
      border-radius: 0.3rem;
      background: var(--bg-dark);
    }
  }
}

.dark {
  .rule {
    &__title {
      border-color: var(--primary-dark);
    }
  }
  code {
    border: 1px solid var(--highlight);
  }
}
