.rules {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  background: var(--bg);
  --elevation-color: var(--secondary);

  &:focus-visible {
    outline: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    font-size: 1rem;
  }

  &__icon {
    transition: transform 0.2s ease;

    &--open {
      transform: rotate(-180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1rem 0rem 0.3rem;
  }
}
